body {
  background-color: hsla(206, 60%, 90%, 0.2);
  font-family: 'Maven Pro', sans-serif;
}

header {
  position: fixed;
  height: 100px;
  z-index: 1;
  width: 100%;
  background-color: hsla(240, 0%, 52%, 0.4);

img {
      width: 23%;
      margin-left: 2%;
      float: left;
}
.fa {

  color: hsla(207, 48%, 56%, 1);
  float: right;
  margin-top: 24px;
  margin-right: 2%;
  vertical-align: middle;
}



}



#bgvid {
  width: 100%;
  position: absolute;
  filter: brightness(50%);
}
