body {
  background-color: hsla(206, 60%, 90%, 0.2);
  font-family: 'Maven Pro', sans-serif;
}


.container {
  margin: 100px auto;
  text-align: center;

  img {
    width: 320px;
  }
  h1 {
    color: hsla(207, 51%, 56%, 1);
  }
  a {
    color: hsla(203, 56%, 82%, 1);
    font-size: 61%;
    &:hover{
      color: hsla(207, 52%, 71%, 1);
    }
  }
}