<div id="container">

<section id="home">
    <h1>Glass Ship Development</h1>
    <h2>We ship more than just apps!</h2>
     
</section>
<section id="about">
    <h1>About Us</h1>
    <br>
    <p>Glass Ship Development is a mobile application and web solutions crew that creates long-lasting digital platforms.
<br><br>
    We found our roots in the heart of Atlanta, with a passion for creating iOS applications. Meeting with local business owners, we have created multiple mobile and web solutions which show our capabilities of creating modern, responsive, and long-lasting products for our customers. We call ourselves Glass Ship because we believe in communicating with clarity.

</p>

<br><br>

<div class="box">
    <a href="#!/about-us">Learn More</a>
</div>
</section>



<section id="work">

<div class="row">
  <div class="col-md-6">
    <img src="images/Coding.jpg" alt="">
  </div>
  <div class="col-md-6">
    <h1>Services</h1>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quos nemo vel, quam doloribus officia, esse ipsum minus explicabo qui perferendis animi. Dicta nesciunt ratione, asperiores laudantium fugit consequatur esse.
    <br>
    <br>
     <ul>
        <li>Mobile Development</li>
        <li>Web Development</li>
        <li>Graphic Designs</li>
        <li>Backend Development</li>
        <li>CMS Solutions</li>
        <li>E-Commerace </li>
        

      </ul>
      </p>
    <div class="box">
    <a href="#!/services">All Services</a>
    </div>
  </div>

</div>


</section>


<section id="team" class="desktop">

<div class="row">
<div class="col-md-6">
    <h1>Our Team</h1>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quos nemo vel, qua
    <br><br>
      <ul>
        <li><strong>Mike Zevitas, CEO</strong><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias deleniti distinctio eveniet possimus eius eum architecto,</li><br>
        <li><strong>Ashby Thornwell, CTO</strong><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet odio vitae odit, provident, doloremque recusandae .</li><br>
        <li><strong>Joe Chamberlain, CEO</strong><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima exercitationem repellendus, tenetur facere repellat</li><br>

      </ul>
    </p>
    <div class="box">
    <a href="#!/team">Learn More</a>
    </div>
  </div>
  <div class="col-md-6">
    <img src="images/Coding.jpg" alt="">
  </div>
  

</div>


</section>
<section id="team" class="mobile">

<div class="row">
<div class="col-md-6">
    <img src="images/Coding.jpg" alt="">
  </div>
<div class="col-md-6">
    <h1>Our Team</h1>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quos nemo vel, qua
    <br><br>
      <ul>
        <li><strong>Mike Zevitas, CEO</strong><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias deleniti distinctio eveniet possimus eius eum architecto,</li><br>
        <li><strong>Ashby Thornwell, CTO</strong><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet odio vitae odit, provident, doloremque recusandae .</li><br>
        <li><strong>Joe Chamberlain, CEO</strong><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima exercitationem repellendus, tenetur facere repellat</li><br>

      </ul>
    </p>
    <div class="box">
    <a href="#!/team">Learn More</a>
    </div>
  </div>
  
  

</div>


</section>

<section id="contact">
<h1>Get in Contact with us!</h1>
<div class="box">
    <a href="#!/contact-us">Contact Us!</a>
    </div>


  
</section>

<footer></footer>

</div>
