<div class="container services">
    <h1>Services We Offer</h1>
    <div class="row">
        <div class="col-md-6">

        <h1>Mobile Development</h1>


        </div>
        <div class="col-md-6">

        <h1>Web Develpoment</h1>

        </div>
    </div>
     <div class="row">
        <div class="col-md-4">
        <h1>Backend Development</h1>
        </div>
        <div class="col-md-4">
        <h1>Graphic Design / UI/UX</h1>
        </div>
        <div class="col-md-4">
        	<h1>CMS Solutions</h1>
        </div>
    </div>
</div>
