<div class="container team">
	<h1>Our Team</h1>
	<br>
	<p>We are Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur asperiores dolorem alias temporibus esse praesentium earum voluptas accusantium debitis, natus magni deserunt maiores optio delectus animi? Voluptatum voluptates quae quaerat.</p>
<br><br>
	<div class="row bio">
		<div class="col-md-4"><img src="images/mikeHeadShot.jpg" alt=""><br>
		<strong>Mike Zevitas <br> CEO, Developer</strong>
		<br> 
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati et qui quia ex, ipsam quaerat quae totam delectus doloremque quibusdam modi unde assumenda aspernatur nam, dolorem praesentium nobis laborum neque.</div>
		<div class="col-md-4"><img src="images/mikeHeadShot.jpg" alt=""><br>
		<strong>Mike Zevitas <br> CEO, Developer</strong>
		<br> 
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati et qui quia ex, ipsam quaerat quae totam delectus doloremque quibusdam modi unde assumenda aspernatur nam, dolorem praesentium nobis laborum neque.</div>
		<div class="col-md-4"><img src="images/mikeHeadShot.jpg" alt=""><br>
		<strong>Mike Zevitas <br> CEO, Developer</strong>
		<br> 
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati et qui quia ex, ipsam quaerat quae totam delectus doloremque quibusdam modi unde assumenda aspernatur nam, dolorem praesentium nobis laborum neque.</div>

	</div>
<br><br>

<hr>
<br><br>
	<p>In house we have a wide variety of web, mobile and backend developers. Also Graphic designers for Logos, and UI/UX designers.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, totam! Ducimus est quo saepe, aperiam aspernatur reprehenderit dignissimos! Delectus impedit ratione quos at veniam exercitationem repudiandae nobis earum, ipsa blanditiis.</p>
	<br><br>
</div>